<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140434318989-gpu4uuk6o23fs07mnh4earascr9nvn7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140434318989-gpu4uuk6o23fs07mnh4earascr9nvn7n</string>
	<key>API_KEY</key>
	<string>AIzaSyBA1m-85IMRCOgAMvMVP6_JXjG4aHa6UP4</string>
	<key>GCM_SENDER_ID</key>
	<string>140434318989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.ReactNativeCallTrigger</string>
	<key>PROJECT_ID</key>
	<string>react-native-callkit</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-callkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140434318989:ios:396eb30dba585408f9e4c4</string>
</dict>
</plist>